<%= form_for Profile.new, html: { multipart: true } do |f| %>
	<legend>Profile Info - Step 2 of 2</legend>
	<div class="field">
		<%= f.text_field :name, placeholder: "Name" %>
	</div>
		<%= f.label "Attach A Picture Of Your Face!" %>
		<%= f.file_field :avatar %><br />
	<%= f.submit :Submit, class: "form_btn" %>
<% end %>