<div class="container-fluid">
  <div class="row top">
    
  </div>
</div>
<div class="container">
  <div class="row form_space">
    <div class="col-lg-4">
      <legend>Member's Log In</legend>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="check">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Log in", class: "form_btn" %>
        </div>
        <br />
      <% end %>
      <!-- <br /> -->
      <%= render "devise/shared/links" %>
    </div>
    <div class="col-lg-8">
      <img src="http://www.petspyjamas.com/uploads/2013/07/does-your-pet-like-listening-to-music-4.jpg" />
    </div>
  </div>
</div>
