<div class="grad">
	<%= image_tag @post.band_pic %>
</div>
<div class="white">
</div>
<div class="container">
	<div class="row top_home">
		<div class="col-lg-12 rel">
			<div class="tit">
				<div class="band"><%= @post.band_name %></div>
				<div class="album"><%= @post.album_name %></div>
				<div class="inform_me"><%= User.find(@post.user_id).profile.name.capitalize %>'s Pick, <%= @post.date.strftime("%D") %> </div>
			</div>
		</div>
	</div>
	<div class="row stuff">
		<div class="col-lg-8">
			<div class="image_album"><%= image_tag @post.album_art %></div>
			<div class="write_up"><%= simple_format(@post.write_up) %></div><hr />
		</div>
		<div class="col-lg-4">			
			<div class="wrap_mini"><iframe id="player" type="text/html" width="100%" height="100%" src="http://www.youtube.com/embed/<%= @post.youtube.split("=")[1] %>" frameborder="0"></iframe></div>
			<hr />
			<div class="author"><div class="post_date"><%= image_tag User.find(@post.user_id).profile.avatar.url(:thumb) %><%= @post.date.strftime("%B %d, %Y") %></div></div>
			<hr class="ruler" />
			<h4>Band: <%= @post.band_name %></h4>
			<h4>Album: <%= @post.album_name %></h4>
			<h4>Genre: <%= @post.genre %></h4>
			<h4>Release Year: <%= @post.release_year %></h4>
			<h4>Tracks: <%= @post.tracks %></h4>
			<h4>Favorite Song: <%= @post.fav_song %></h4>
		</div>
	</div>
	<div class="row center">
		<div class="col-lg-12">
			<h1 class="quote"><%= @post.quote %></h1>
		</div>
	</div>
	<div class="row bottom">
		<div class="col-lg-12">
			<legend>What did you think about <%= @post.band_name %>?</legend>
			<div class="comments">
				<%= render "new_comment" %><hr />
				<ul class="comment_list">
					<% @all_comments.each do |x| %>
						<li class="comment_item">
							<div class="left_comment">
								<%= image_tag User.find(x.user_id).profile.avatar.url(:thumb) %>
							</div>
							<div class="right_comment">
								<span class="comment_date"><%= x.created_at.strftime("%D") %></span><br />
								<span class="comment_body"><%= x.comment %></span>
							</div>
						</li><hr />
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>

 